.player1 {
  /* position: absolute;
  bottom: 0px;
  border: 0.5rem solid var(--color-primary-variant);
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(14, 15px);
  align-items: center; */
}

/* .userCard > img {
  box-shadow: 2px 2px 2px 2px #00000077;
  border-radius: 5px;
  background-color: #ffffff;
  width: 120px;
  width: 6vw;
  height: 15vh;
} */

.userCard > img {
  --card-width: 100px;

  margin-right: calc(25px - var(--card-width));
  float: left;

  width: var(--card-width);
  height: calc(var(--card-width) * 1.5);
  border: 1px solid black;
  background: white;
}